<h1> Welcome to Contacts</h1>
<h2> Instructions </h2>
<p> To view the list of contacts add "/contacts" to browser bar. </p>
<p> To view each contact add "/contacts/name_of_contact" </p>
<p> For example, to view Chris's contact add "/contacts/Chris"</p>
