<h1> Instructions </h1>


<p>In the browser write "/add/number1/number2" to see the sum of the two numbers.</p>

<p>In the browser write "/subtract/number1/number2" to see the difference of the two numbers.</p>

<p>In the browser write "/multiply/number1/number2" to see the product of the two numbers.</p>

<p>In the browser write "/divide/number1/number2" to see the quotient of the two numbers.</p>

<p>In the browser write "/exponent/number1/number2" to see the result of the first number to the power of the second number.</p>

<h2> For example to find 2 - 3, one would right "localhost:9393/subtract/2/3" </h2>