<head>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<style>

 h1 {
 	padding: 20px 0px 20px 0px;
      margin: 30px 30px 30px 0px;
      font-size: 55px;
      font-family: 'Lato', sans-serif;
      color: black;
      text-align: center;
       background-image: url("http://i.imgur.com/fA3Yhm6.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;

  }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      font-family: 'Source Sans Pro', sans-serif;

      
    }
    ul {
    text-align:center;
}

    .links {
    	text-align: center;
    	font-size: 35px;
    }

     .navigation {
  	width: 1000px;
  	height: 200px;
  	background-position: center;
  	font-size: 25px;
  }

  img {
  	height: 100px;
  	width: 100px;
  }

    </style>
<body>
<div id="wrapper">
<div id="header">
<h1>Contact Me</h1>
</div>
<div id="content">
<div class="links">
 <ul>
      <li><a href="https://www.linkedin.com/profile/view?id=370158668&trk=hp-identity-name"><img src="https://fundraiserbeth.files.wordpress.com/2013/07/linkedin-logo.jpg"></a></li>
      <li><a href="https://www.facebook.com/melzhou"><img src="https://www.facebook.com/images/fb_icon_325x325.png"></a></li>
      <li><a href="https://instagram.com/melizhou/"><img src="https://lh3.ggpht.com/vFpQP39LB60dli3n-rJnVvTM07dsvIzxrCL5xMiy1V4GV4unC1ifXkUExQ4N-DBCKwI=w300"></a></li>
    </ul>
    </div>
    <div id="footer">
  <ul>
  <div class="navigation">
  <li><a href="http://localhost:9393">Home</a></li>
      <li><a href="http://localhost:9393/about">About</a></li>
      <li>Contact</li>
  </ul>

  </div>
  </div>
  </div>
  </body>